<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!-- Log4net Logging Setup -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="BlueDot" connectionString="Data Source=smw-sql-qa-db-1.cbnedywmxgw1.us-east-1.rds.amazonaws.com;Initial Catalog=nopcommerce_prod_38_5_25_2021;User Id=smwbluedotuser;Password=Tahz00!;Persist Security Info=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="SAPEntityDataModel" connectionString="metadata=res://*/SAPFileFeedDataModel.csdl|res://*/SAPFileFeedDataModel.ssdl|res://*/SAPFileFeedDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smw-sql-qa-db.cbnedywmxgw1.us-east-1.rds.amazonaws.com;initial catalog=nopcommerce_production_38_5_24_2019_afterselectvertex_Glcode_mealplans;persist security info=True;user id=smwbluedotuser;password=Tahz00!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAPEntityDataModelConnectionString" connectionString="metadata=res://*/SAPFileFeedDataModel.csdl|res://*/SAPFileFeedDataModel.ssdl|res://*/SAPFileFeedDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smw-sql-qa-db.cbnedywmxgw1.us-east-1.rds.amazonaws.com;initial catalog=nopcommerce_production_38_5_24_2019_afterselectvertex_Glcode_mealplans;persist security info=True;user id=smwbluedotuser;password=Tahz00!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SAPFileFeedConnectionString" connectionString="metadata=res://*/SAPFileFeedDataModel.csdl|res://*/SAPFileFeedDataModel.ssdl|res://*/SAPFileFeedDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smw-sql-qa-db.cbnedywmxgw1.us-east-1.rds.amazonaws.com;initial catalog=nopcommerce_prod_38_ForScriptsValidation;persist security info=True;user id=smwbluedotuser;password=Tahz00!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SapFileFeed" connectionString="metadata=res://*/SapFileFeedDataModel.csdl|res://*/SapFileFeedDataModel.ssdl|res://*/SapFileFeedDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smw-sql-qa-db-1.cbnedywmxgw1.us-east-1.rds.amazonaws.com;initial catalog=nopcommerce_prod_38_5_25_2021;user id=smwbluedotuser;password=Tahz00!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="UploadToServer" value="false" />
    <add key="ProcessMealPlanRecords" value="false" />
    <add key="TempFolder" value="D:\SAPFileFeed\" />
    <add key="LogFolder" value="D:\SAPFileFeed\ErrorLog" />
    <add key="Filepath" value="c:\flatfile\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SAPRecipients" value="souradip.das2@cognizant.com" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>