@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <section>
        <p>Now that you have created your BITE profile, it's time to link your meal plan to BITE!</p> <article class="not-registered">
            <h4>IF YOUR CAMPUS CARD IS NOT REGISTERED</h4>
            <ul>
                <li>
                    Click
                    <a href="https://sodexo.campuscardcenter.com/ch/login.html" class="link" target="_blank" rel="noopener noreferrer">HERE</a>
                    and register for account access
                </li>
            </ul>
        </article>
        <article class="registered">
            <h4>LINK YOUR CAMPUS CARD IN BITE</h4>
            <p>Once you have registered your campus card, follow these steps:</p>
            <ol>
                <li>Enter your campus card account credentials (username and password)</li>
                <li>You are ready to use your dining plan in BITE!</li>
            </ol>
        </article>
        <article class="keep-in-mind">
            <h4>PLEASE KEEP IN MIND</h4>
            <ul>
                <li>When logging into BITE in the future, you will use the set of credentials you created specifically for the Bite profile.</li>
                <li>If you have already associated your campus card with a BITE account, you will not be able to create a new account automatically.</li>
                <li>Please contact customer support for assistance.</li>
            </ul>
        </article>
        <button>Continue</button>
    </section>
</body>
</html>
