/packages
**/obj
**/bin
.DS_Store
*.suo
*.pdb
*.dbmdl
*.user
Presentation/Nop.Web/Plugins/*
Presentation/Nop.Web/Content/Images/Thumbs/*
!Presentation/Nop.Web/Content/Images/Thumbs/placeholder.txt
Presentation/Nop.Web/TridionSitesData/*
.vs/*
*.zip
*.cache
/bin
/obj
*.FileListAbsolute.txt
Presentation/Nop.Web/App_Readme/Elmah.txt
*.orig
*.xlsx
FileFeed/FileFeed_TemporaryKey.pfx
*.tmp
Tests/TestResult.xml
SAPFileFeed/SAPFileFeed_TemporaryKey.pfx
