<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BlueDot" connectionString="Data Source=smw-sql-qa-db-1.cbnedywmxgw1.us-east-1.rds.amazonaws.com;Initial Catalog=nopcommerce_prod_38_06_22_2020;User Id=smwbluedotuser;Password=Tahz00!;Persist Security Info=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="SAPEntityDataModel" connectionString="metadata=res://*/SAPFileFeedDataModel.csdl|res://*/SAPFileFeedDataModel.ssdl|res://*/SAPFileFeedDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smw-sql-qa-db.cbnedywmxgw1.us-east-1.rds.amazonaws.com;initial catalog=nopcommerce_production_38_5_24_2019_afterselectvertex_Glcode_mealplans;persist security info=True;user id=smwbluedotuser;password=Tahz00!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAPEntityDataModelConnectionString" connectionString="metadata=res://*/SAPFileFeedDataModel.csdl|res://*/SAPFileFeedDataModel.ssdl|res://*/SAPFileFeedDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smw-sql-qa-db.cbnedywmxgw1.us-east-1.rds.amazonaws.com;initial catalog=nopcommerce_production_38_5_24_2019_afterselectvertex_Glcode_mealplans;persist security info=True;user id=smwbluedotuser;password=Tahz00!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SAPFileFeedConnectionString" connectionString="metadata=res://*/SAPFileFeedDataModel.csdl|res://*/SAPFileFeedDataModel.ssdl|res://*/SAPFileFeedDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smw-sql-qa-db.cbnedywmxgw1.us-east-1.rds.amazonaws.com;initial catalog=nopcommerce_prod_38_ForScriptsValidation;persist security info=True;user id=smwbluedotuser;password=Tahz00!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SapFileFeed" connectionString="metadata=res://*/SapFileFeedDataModel.csdl|res://*/SapFileFeedDataModel.ssdl|res://*/SapFileFeedDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smw-sql-qa-db-1.cbnedywmxgw1.us-east-1.rds.amazonaws.com;initial catalog=nopcommerce_prod_38_06_22_2020;user id=smwbluedotuser;password=Tahz00!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>