@{
    Layout = "";
}
@model panoRazzi.RestService.Models.ConfigureModel
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                panoRazzi.RestService
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        API Token:
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ApiToken)
                        @Html.ValidationMessageFor(model => model.ApiToken)
                        <span class="generate-hash" style="cursor: pointer;">Generate Hash</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var guid = (function () {
                function s4() {
                    return Math.floor((1 + Math.random()) * 0x10000)
                                .toString(16)
                                .substring(1);
                }
                return function () {
                    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                            s4() + '-' + s4() + s4() + s4();
                };
            })();

            $('.generate-hash').click(function (e) {
                e.preventDefault();
                $('#ApiToken').val(guid());
            });
        });
    </script>
}
