<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="CSVPath" value="D:\Projects\FileFeed\empl2bbuid.csv"/>
    <add key="FeedData" value="Data Source=54.225.229.159;Initial Catalog=nopcommerce_prod_38;User Id=smwbluedotuser;Password=Tahz00!;Persist Security Info=False;MultipleActiveResultSets=True"></add>
    </appSettings>
    <!--<connectionStrings>
        <add name="FeedData" connectionString="Data Source=54.225.229.159;Initial Catalog=nopcommerce_prod_38;User Id=smwbluedotuser;Password=Tahz00!;Persist Security Info=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>-->
</configuration>
